name: Python CI without Virtual Environment

on:
  push:
    branches:
      - main  # O la rama que estés usando
  workflow_dispatch:  # Esto permite ejecutar el flujo de trabajo manualmente desde la interfaz de GitHub
  schedule:
    # Este cronograma ejecutará el flujo dos veces al día, a las 00:00 y a las 12:00 UTC
    - cron: '8 21 * * *' 
jobs:
  build:
    runs-on: ubuntu-latest  # El entorno de ejecución será Ubuntu

    steps:
      # 1. Clonar el repositorio
      - name: Check out the repository
        uses: actions/checkout@v2

      # 2. Configurar Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8.18'  # Especifica la versión de Python que deseas usar

      # 3. Instalar dependencias directamente desde requirements.txt
      - name: Install dependencies
        run: |
          pip install -r sat2/requirements.txt  # Instalamos las dependencias de 'requirements.txt'

      # 4. Ejecutar el script de Python
      - name: Run Python script
        run: |
          python sat2/sat.py  # Ejecuta 'script.py' desde la carpeta 'sat'
        env:
          GMAIL_USER: ${{ secrets.GMAIL_USER }}  # Usamos el secret GMAIL_USER
          GMAIL_PASSWORD: ${{ secrets.GMAIL_PASSWORD }}  # Usamos el secret GMAIL_PASSWORD
          RECIPIENT_EMAIL: ${{ secrets.RECIPIENT_EMAIL }}  #
